body {  
background:  hsl(0, 0%, 95%); 
max-width: 1440px;
}

img {
padding: 20px;
}

h1 {
  font-family: Big Shoulders Display;
  padding: 20px;
  height: 5px;
  margin-top: 1px;
  color: hsl(0, 0%, 95%);
}

p {
 padding: 20px; 
 color: hsla(0, 0%, 100%, 0.75);
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  flex-wrap: wrap;
}

.flex-item-left {
  background-color: hsl(31, 77%, 52%);
  padding: 20px;
  flex: 275px;
  font-family: Lexend Deca;
  
}

.flex-item-right{
  background-color: hsl(184, 100%, 22%);
  padding: 20px;
  flex: 275px;
  font-family: Lexend Deca;
}
.flex-item-last {
  background-color: hsl(179, 100%, 13%);
  padding: 20px;
  flex: 275px;
  font-family: Lexend Deca;
}

  
button {
  background: hsl(0, 0%, 95%);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 115px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
ss1, .class2, .class3 {
  max-width: 320px;  
}

.sedans-btn {
  color: hsl(31, 77%, 52%);

}
.suvs-btn {
  color: hsl(184, 100%, 22%);
 }
  
.luxury-btn {
  color: hsl(179, 100%, 13%);
}
